<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    <div class="container" style="text-align: center;margin-top: 30px">
        <form action="/shareedit/" method="post">
            <table class="table table-bordered">
                <input type="hidden" name="sid" value="{{ data.sid }}">
                <input type="text" name="sname" value="{{ data.sname }}" class="form-control" style="background-color: #ffffff">
                <br>
                <select name="scid" id="" class="form-control" style="background-color: #ffffff">
                    {% for item in shareInfo %}
                        <option value="{{ item.cid }}" placeholder="{{ item.ctext }}">{{ item.ctext }}</option>
                    {% endfor %}
                </select>
            </table>

            <input type="submit" class="btn btn-default" style="background-color: #ffffff">&nbsp;
            <input type="reset" class="btn btn-default" style="background-color: #ffffff">
        </form>
    </div>
</body>
</html>